# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Django-specific files
*.log
*.pot
*.pyc
*.pyo
db.sqlite3  # Ignore SQLite database if used for local development
media/  # Ignore user-uploaded files (if not using a dedicated storage service)

# Environment files
.env  # Ignore the environment file containing sensitive settings

# Static and compiled assets
staticfiles/
static/
*.sass-cache/
*.node_modules/

# PostgreSQL database dumps
*.sql  # Ignore database dump files
*.backup  # PostgreSQL backup files

# IDE and editor settings
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
